@charset "utf-8";

@keyframes scroll {
  0%{transform: translate(-50% 0%);}
  10%{transform: translate(-50% 0%);}
  50%{transform: translate(-50% -20%);}
  90%{transform: translate(-50% 0%);}
  100%{transform: translate(-50% 0%);}
}